/* 
---difference between id and class---
use . dot to call a class and use # hashtag for ID 

specificity overwriting different selectors are more powerful

element,class,id,inline styling

class is more powerful then the element 

id is more powerful then class

class are used multiple times 
id is used for one thing , one single element

---pseudoselectors---
visible when something is done on the website animations and transition are used a lot
after a selction us colon: 
=================
first child and last child 
child an parent

li:nth-child(n){
}

only-child
==============
a  anchor tag
two main ones
a:hover{

}
a:link{
    color:blue;
}

a:visited{
    color:red;
}

a:active{

}
---Advanced selctors---
first basic 
second attributes

basic
3 elemtns ini one selctor

h2 + a{

}
(every a that follows a h2)

*/

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 5%;
}

.container {
  display: flex;
}

li {
  display: inline-block;
  padding: 0 20px;
}
